<div class="container" id="home-container">
  <div class="jumbotron custom-jumbotron">
    <h1 class="display-3 custom-text">Free up and blog!</h1>
    <a class="btn btn-success btn-lg" href="#" role="button">Sign Up</a>
  </div>
</div>
