<footer id="sticky-footer" class="py-3 bg-dark text-white-50">
  <div class="container text-center text-white">
    <small>Copyright &copy; <%= link_to 'Mauricio Quijano', 'https://github.com/mauricio-quijano', class: 'text-white' %></small>
  </div>
</footer>